.container {
  --header-height: 105px;
  --form-height: 70px;

  flex: 1;
  display: grid;
  gap: 0.5em;
  grid-template-rows: var(--header-height) auto var(--form-height);
  height: 100%;
}

.header {
  display: flex;
  overflow-y: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  & > div:first-child {
    display: flex;
    align-items: center;
    gap: calc(0.5em + 1.5vw);

    & h1 {
      text-transform: capitalize;
      overflow-y: auto;
    }
  }
}

.leave {
  & svg {
    color: hsl(from var(--accent) h s 40%);
  }
}

.empty {
  text-align: center;
  margin-top: 1em;
  font-size: 0.9em;
}

.messages {
  --pattern-size: 28px;
  --lightness: 85%;
  --pattern-primary-color: hsl(from var(--primary) h s var(--lightness));
  --pattern-secondary-color: hsl(from var(--secondary) h s var(--lightness));

  --c: #0000, var(--pattern-primary-color) 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));

  background: var(--g1), var(--g1) var(--pattern-size) calc(1.73 * var(--pattern-size)),
    var(--g2), var(--g2) var(--pattern-size) calc(1.73 * var(--pattern-size)),
    var(--g3) var(--pattern-size) 0,
    var(--g3) 0 calc(1.73 * var(--pattern-size)) var(--pattern-secondary-color);
  background-size: calc(2 * var(--pattern-size)) calc(3.46 * var(--pattern-size));

  border-radius: 8px;
  overflow-y: auto;

  & ul {
    padding: 1em;
    display: grid;
    gap: 0.5em;

    & li > article {
      --datetime-fs: 0.7em;

      position: relative;
      max-width: 80%;
      border: 1px solid var(--text);
      border-radius: 8px;
      padding: 0.5em;
      margin-bottom: calc(var(--datetime-fs) * 2);

      & p {
        padding: 0.5em;
      }
    }
  }
}

.time {
  font-size: var(--datetime-fs);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(calc(0.5em + 100%));
  white-space: nowrap;
  font-style: italic;
}

.text {
  text-align: justify;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
}

.image {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.sender {
  justify-self: end;
  background-color: hsl(from var(--primary) h s 64%);
}

.recipient {
  background-color: hsl(from var(--secondary) h s 64%);
  justify-self: start;
}

.form {
  --form-gap: 0.6em;

  display: flex;
  align-items: center;
  padding-block: 0.7em;
  gap: var(--form-gap);
  width: 100%;

  & > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;

    & > div:first-child {
      flex: 1;
      display: flex;
      gap: var(--form-gap);
      align-items: center;

      & textarea {
        flex: 1;
        min-width: 200px;
        max-height: 60px;
        resize: none;
        padding: 0.3em;
      }
    }
  }

  & button {
    --svg-size: 34px;
    --btn-size: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-size);
    height: var(--btn-size);
    background-color: transparent;
    border-color: transparent;
    margin-right: 0.5em;

    &:disabled {
      opacity: 0.5;
    }

    & svg {
      width: var(--svg-size);
      height: var(--svg-size);
      color: var(--text);
    }
  }
}

.fileInput {
  --input-size: 42px;

  isolation: isolate;
  position: relative;
  pointer-events: none;
  cursor: pointer;
  width: var(--input-size);
  height: var(--input-size);
  border: 1.5px solid transparent;
  border-radius: 6px;
  overflow: hidden;

  &:has(input:focus-visible) {
    border-color: var(--text);
    outline: var(--text);
  }

  & svg {
    --svg-size: 32px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--svg-size);
    height: var(--svg-size);
    pointer-events: all;
    cursor: pointer;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--input-size);
    height: var(--input-size);
    opacity: 0;

    &::file-selector-button {
      width: var(--input-size);
      height: var(--input-size);
      margin: 0;
      pointer-events: all;
      cursor: pointer;
      z-index: 1;
    }
  }
}

.hasFile svg {
  color: hsl(from var(--primary) h s 43%);
}

.error {
  --font-size: 0.7em;

  font-size: var(--font-size);
  height: var(--font-size);
  margin-top: 0.3em;
  padding-block: 0.2em;
  text-align: center;

  color: hsl(from var(--accent) h s 40%);
}

@media screen and (max-width: 60em) {
  .header {
    padding: 0.5em;
  }

  .form {
    padding-block: 0.5em;
    margin-top: 0;
  }

  .messages {
    margin-inline: 0.5em;
    max-height: calc(100vh - var(--header-height) - var(--form-height) - 1em);
  }

  .groupBtn {
    margin-right: 0.3em;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header h1 > a:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  .leave {
    & svg {
      color: hsl(from var(--accent) h s 65%);
    }

    .time {
      opacity: 0.9;
    }
  }

  .error {
    color: hsl(from var(--accent) h s 65%);
  }

  .sender {
    background-color: hsl(from var(--primary) h s 24%);
  }

  .recipient {
    background-color: hsl(from var(--secondary) h s 24%);
  }

  .messages {
    --lightness: 7.5%;
  }

  .hasFile svg {
    color: hsl(from var(--primary) h s 45%);
  }
}
