.container {
  display: grid;
  min-width: 270px;

  & label {
    display: flex;
    flex-direction: column;
  }

  & input {
    padding: 0.25em;
  }
}

.label {
  color: var(--text);
  font-size: 0.95em;
}

.error {
  --font-size: 0.8em;

  font-size: var(--font-size);
  min-height: var(--font-size);
  margin-block: 0.25em;
  color: hsl(from var(--accent) h s 40%);
}

@media (prefers-color-scheme: dark) {
  .error {
    color: hsl(from var(--accent) h s 65%);
  }
}
