.container {
  --header-height: 100px;

  flex: 1;
  margin-block: 1em;
  display: grid;
  grid-template-rows: var(--header-height) 2px auto;

  & header {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: space-between;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  padding-block: 0.5em;
  font-size: 1.05em;
  transition: color 0.25s ease-in-out;

  --lightness: 34%;

  & a:active,
  & a[aria-current="page"],
  & a:focus-visible {
    color: hsl(from var(--secondary) h s var(--lightness));
  }
}

div:has(.deleteGroup) {
  display: flex;
}

.deleteGroup {
  margin-inline: auto 1em;
  margin-top: 0.5em;

  & button {
    --lightness: 40%;

    color: hsl(from var(--accent) h s var(--lightness));
    padding: 0.35em 0.75em;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    transition: border-color 0.25s ease-in-out;

    &:active,
    &:focus-visible {
      border-color: hsl(from var(--accent) h s var(--lightness));
    }
  }
}

.members {
  margin-top: 0.5em;
  overflow-y: auto;

  & ul {
    padding: 0.5em 1em;
    display: grid;
    gap: 0.5em;
  }
}

.member {
  display: flex;
  justify-items: center;
  gap: 0.8em;
  padding-block: 0.5em;
  overflow-x: auto;

  & strong {
    margin-block: auto;
    max-height: fit-content;
    font-size: 1.25em;
    font-weight: 500;
    max-width: 15ch;
  }

  & form {
    margin-left: auto;
    display: flex;
    align-items: center;

    & button {
      width: 32px;
      height: 32px;
      transition: border-color 0.25s ease-in-out;
      border: 2px solid transparent;
      border-radius: 4px;
      position: relative;

      &:active,
      &:focus-visible {
        border-color: var(--text);
      }

      & svg {
        color: var(--text);
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.add {
  --lightness: 45%;

  background-color: hsl(from var(--primary) h s var(--lightness));
}

.remove {
  --lightness: 40%;

  background-color: hsl(from var(--accent) h s var(--lightness));
}

.empty {
  font-size: 0.8em;
  text-align: center;
}

@media screen and (max-width: 60em) {
  .member {
    gap: 0.5em;
  }

  .container a:not(.links a) {
    display: flex;
    align-items: end;
    transform: translate(0.5em, 0.11em);
  }
}

@media (hover: hover) and (pointer: fine) {
  .deleteGroup button:hover {
    border-color: hsl(from var(--accent) h s var(--lightness));
  }

  .links a:hover {
    color: hsl(from var(--secondary) h s var(--lightness));
  }

  .member form button:hover {
    border-color: var(--text);
  }
}

@media (prefers-color-scheme: dark) {
  .deleteGroup button {
    --lightness: 65%;
  }

  .links {
    --lightness: 48%;
  }

  .add {
    --lightness: 42%;
  }

  .remove {
    --lightness: 65%;
  }
}
