.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  & header {
    flex: 0 1 auto;
    padding: 0.5em;
    min-height: 110px;

    & strong {
      font-size: 1.5em;
      margin-left: 0.5em;
      overflow-x: hidden;
    }

    & form {
      margin-top: 0.3em;
      display: flex;
      align-items: center;
      gap: 0.75em;

      & button {
        border: 2px solid var(--text);
        background-color: hsl(from var(--primary) h s 64%);
        padding: 0.15em;
        width: 40px;
        height: 40px;
        transform: translateY(-2px);
        border-radius: 6px;
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.25s ease-in-out;

        &:disabled {
          opacity: 0.5;
        }

        &:focus-visible,
        &:active {
          background-color: hsl(from var(--primary) h s 30%);
        }

        & svg {
          width: 32px;
          height: 32px;
          color: var(--text);
        }
      }
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;

  & input {
    padding: 0.4em 0.2em;
  }
}

.error {
  --font-size: 0.725em;

  height: calc(var(--font-size) * 2);
  font-size: var(--font-size);
  text-wrap: balance;
  overflow: auto;
  color: hsl(from var(--accent) h s 40%);
}

.groups {
  padding-block: 1.5em 1em;
  padding-inline: 0.5em;
  flex: 1 1 auto;
  max-height: calc(750px - 115px + 1em);
  overflow-y: auto;
  scroll-behavior: smooth;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  & > p {
    text-align: center;
    font-size: 0.9em;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border: 2.5px solid transparent;
  transition: border-color 0.25s ease-in-out;
  border-radius: 6px;

  & span::first-letter {
    text-transform: uppercase;
  }

  &:active,
  &[aria-current="page"],
  &:focus-visible {
    border-color: hsl(from var(--secondary) h s 34%);
  }
}

@media screen and (max-width: 60em) {
  .groups {
    max-height: calc(100vh - 115px - 88px - 2em);
  }

  .container {
    padding-top: unset;

    & header {
      min-height: 115px;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .contact:hover {
    border-color: hsl(from var(--secondary) h s 34%);
  }

  .container form button:hover {
    background-color: hsl(from var(--primary) h s 42%);
    filter: drop-shadow(0 0 0.75em var(--primary));
  }
}

@media (prefers-color-scheme: dark) {
  .contact {
    &:active,
    &[aria-current="page"],
    &:focus-visible {
      border-color: var(--secondary);
    }
  }

  .error {
    color: hsl(from var(--accent) h s 65%);
  }

  .container header form button {
    background-color: hsl(from var(--primary) h s 45%);
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .contact:hover {
    border-color: var(--secondary);
  }

  .container form button:hover {
    background-color: hsl(from var(--primary) h s 35%);
    filter: drop-shadow(0 0 0.75em hsl(from var(--primary) h s 45%));
  }
}
