.container {
  flex: 1;
  margin-top: 1em;
  padding: 0.5em;
}

.profile {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  gap: 1em;

  & h1 {
    text-transform: capitalize;
  }

  & p {
    width: 80%;
    min-height: 250px;
    padding: 0.5em;
    border-radius: 12px;
    background-color: hsla(from var(--text) h s l / 0.1);
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.avatar {
  margin-inline: auto;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

@media screen and (max-width: 60em) {
  .header {
    min-height: 42.5px;
    display: flex;
    align-items: end;
    margin-bottom: 1em;
  }

  .profile {
    margin-top: unset;
    gap: 0.6em;

    & p {
      min-height: 170px;
    }
  }

  .avatar {
    width: 220px;
    height: auto;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .profile p {
    background-color: hsl(from var(--background) 0 0 7%);
  }
}
