.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  & h1 {
    margin-block: 1em;
    text-wrap: balance;
  }
}

.content {
  display: grid;
  gap: 1em;
  font-weight: 500;
  font-size: 1.2em;

  & p:first-child {
    color: hsla(from var(--text) h s l / 0.6);
    font-style: italic;
  }

  & :any-link {
    --lightness: 30%;

    color: hsl(from var(--secondary) h s var(--lightness));
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  .content :any-link {
    --lightness: 40%;
  }
}
