.container {
  & > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  & img {
    filter: brightness(0%);
  }
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;

  & a {
    font-size: 1.2em;
    padding: 0.6em 1.3em;
    font-weight: 500;
    border: 2px solid var(--text);
    border-radius: 6px;
    transition-property: border-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;

    &:active,
    &:focus-visible {
      border-color: hsl(from var(--secondary) h s 34%);
      color: hsl(from var(--secondary) h s 34%);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .links a:hover {
    border-color: hsl(from var(--secondary) h s 34%);
    color: hsl(from var(--secondary) h s 34%);
  }
}

@media (prefers-color-scheme: dark) {
  .container img {
    filter: invert(100%) brightness(150%);
  }

  .links a {
    &:active,
    &:focus-visible {
      border-color: var(--secondary);
      color: var(--secondary);
    }
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .links a:hover {
    border-color: var(--secondary);
    color: var(--secondary);
  }
}
