.form {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.button {
  margin-inline: auto;
  padding: 0.6em 1.5em;
  border-radius: 6px;
  font-size: 1.2em;
  border: 2px solid var(--text);
  font-weight: 500;
  background-color: transparent;
  color: var(--text);
  transition-property: border-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;

  &:active,
  &:focus-visible {
    border-color: hsl(from var(--secondary) h s 34%);
    color: var(--secondary);
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    border-color: hsl(from var(--secondary) h s 34%);
    color: hsl(from var(--secondary) h s 34%);
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    &:active,
    &:focus-visible {
      border-color: var(--secondary);
      color: var(--secondary);
    }
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .button:hover {
    border-color: var(--secondary);
    color: var(--secondary);
  }
}
