* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

:root {
  --ff-sans-serif: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;

  --text: oklch(12.72% 0.031 155.06);
  --background: oklch(99.09% 0.013 159.93);
  --primary: oklch(82.77% 0.246 146.45);
  --secondary: oklch(75.19% 0.151 233.11);
  --accent: oklch(70% 0.175 25.83);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: oklch(99.06% 0.014 155.6);
    --background: oklch(12.78% 0.029 160.03);
    --primary: oklch(81.13% 0.243 146.27);
    --secondary: oklch(67.9% 0.145 235.44);
    --accent: oklch(44.1% 0.173 29.54);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--ff-sans-serif);
  line-height: 1.5;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:any-link {
  color: var(--text);
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  flex: 1;
  display: flex;
  place-content: center;
  max-width: 1280px;
  margin-inline: auto;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: clamp(2.2em, 2vw, 2.6rem);
}

a:has(.lucide) {
  transition: color 0.25s ease-in-out;

  &:focus-within,
  &.active {
    color: hsl(from var(--secondary) h s 34%);
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  & button {
    margin-top: 1em;
  }
}

.auth-text {
  text-align: center;
  color: var(--text);
}

p.auth-text {
  margin-top: 1em;

  & a {
    text-decoration: underline;
    transition: color 0.25s ease-in-out;

    &:focus-visible,
    &:active {
      color: hsl(from var(--secondary) h s 34%);
      color: var(--secondary);
    }
  }
}

.chat-layout {
  flex: 1;
  margin: 2em 1em;
  display: flex;
  height: 750px;
  gap: 0.5em;
  overflow: hidden;
  border: 2px solid var(--text);
  border-radius: 24px;

  & > div:first-child {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }
}

.chat-box-container {
  flex: 1 1 650px;
  min-width: 320px;
  border-radius: 6px;
  margin-right: 0.5em;
}

.chat-contacts {
  border-inline: 2px solid var(--text);
  margin-inline-start: 2em;
  padding: 0.5em;
  flex: 1;
  max-width: 320px;
  min-width: 320px;
}

.back-btn {
  display: none;
}

@media screen and (max-width: 60em) {
  .back-btn {
    display: block;
  }

  .chat-layout {
    margin: 0;
    height: unset;
    min-height: 100vh;
    border: unset;
    border-radius: unset;

    & > div:first-child {
      flex-direction: column-reverse;
    }

    &.reverse {
      flex-direction: column-reverse;

      & > div:first-child {
        display: none;
      }
    }
  }

  .chat-contacts {
    border-inline: unset;
    padding: 0.5em;
    min-width: 100%;
    margin-inline: auto;

    &.hide-element {
      display: none;
    }
  }

  .chat-box-container {
    display: none;

    &.show-element {
      display: flex;
      flex: 1 1 auto;
      border-radius: unset;
      margin: unset;
      max-width: max(320px, 100vw);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  p.auth-text a:hover {
    color: hsl(from var(--secondary) h s 34%);
  }

  a:has(.lucide):hover {
    color: hsl(from var(--secondary) h s 34%);
  }
}

@media (prefers-color-scheme: dark) {
  p.auth-text a {
    &:focus-visible,
    &:active {
      color: var(--secondary);
    }
  }

  a:has(.lucide) {
    &:focus-within,
    &.active {
      color: var(--secondary);
    }
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  p.auth-text a:hover {
    color: var(--secondary);
  }

  a:has(.lucide):hover {
    color: var(--secondary);
  }
}
