.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  & header {
    flex: 0 1 auto;
    padding: 0.5em;
    min-height: 110px;

    & strong {
      font-size: 1.5em;
      margin-left: 0.5em;
      overflow-x: hidden;
    }
  }
}

.users {
  flex: 1 1 auto;
  padding-block: 1.5em 1em;
  padding-inline: 0.5em;
  max-height: calc(750px - 115px + 1em);
  overflow-y: auto;
  scroll-behavior: smooth;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  & > p {
    text-align: center;
    font-size: 0.9em;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  margin-top: 1.2em;

  & a {
    padding: 0.3em 0.8em;
    transition: color 0.25s ease-in-out;

    &[aria-current="page"] {
      color: hsl(from var(--secondary) h s 34%);
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border: 2.5px solid transparent;
  transition: border-color 0.25s ease-in-out;
  border-radius: 6px;

  & span {
    text-transform: capitalize;
  }

  &:active,
  &[aria-current="page"],
  &:focus-visible {
    border-color: hsl(from var(--secondary) h s 34%);
  }
}

@media screen and (max-width: 60em) {
  .users {
    max-height: calc(100vh - 115px - 88px - 2em);
  }
}

@media (hover: hover) and (pointer: fine) {
  .links a:hover {
    filter: drop-shadow(0 0 2em hsl(from var(--secondary) h s 34%));
    color: hsl(from var(--secondary) h s 34%);
    text-decoration: underline;
  }

  .contact:hover {
    border-color: hsl(from var(--secondary) h s 34%);
  }
}

@media (prefers-color-scheme: dark) {
  .links a {
    &:focus-visible {
      text-decoration: underline;
    }

    &:active,
    &[aria-current="page"],
    &:focus-visible {
      color: var(--secondary);
    }
  }

  .contact {
    &:active,
    &[aria-current="page"],
    &:focus-visible {
      border-color: var(--secondary);
    }
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .links a:hover {
    filter: drop-shadow(0 0 5em var(--secondary));
    color: var(--secondary);
    text-decoration: underline;
  }

  .contact:hover {
    border-color: var(--secondary);
  }
}
